@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap');

header {
    display: flex;
    border: thick solid #FFAC1C;
    font-family: 'Arimo', sans-serif;
    font-size: 25px;
    background-color: #FFFFE0;
    border-radius: 10px;
    margin-bottom: 5px;
    
}

#fakeLogo {
    width: 15%;
    height: 5%;
    margin-top: 55px;
    margin-bottom: 50px;
    margin-right: 30px;
    margin-left: 30px;
}

h1 {
  
  border: groove #FFAC1C;
  background-color: #FFAC1C;
  border-radius: 5px;
  padding: 20px;
}


#results {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    border-radius: 10px;
}

#submit {
    width: 40px;
    height: 20px;
}

#products {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


#productOne, #productTwo, #productThree {
    max-width: 100%;
    width: 800px;
    height: 600px;
}


#productsAndResults {
    display: flex;
    max-width: 100%;
    margin-left: 20px;
}

#productVotesChart, #productViewsChart {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}

p {
    font-size: 30px;
    margin-left: 400px;
    padding-top: 0px;
}

main {
    border: thick solid #FFAC1C;
    background-color: #FFFFE0;
    border-radius: 10px;
}

ul {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    height: 100%;
}


#productVotesChart {
    display: flex;
    justify-content: center;
}

footer {
    border: thick solid #FFAC1C;
    border-radius: 10px;
    height: 200px;
    background-color: #FFFFE0;
    margin-top: 5px;
}

